<header>
    <h1>Repostería y supermercado Cruz</h1>
    <nav>
        <ul>
            <li>
                <a href="#start">Acerca de mi</a>
            </li>
            <li>
                <a href="#logros">Mis preferencias</a>
            </li>
            <li>
                <a href="#formacion">Negocios</a>
            </li>
            <li>
                <a href="#contacto">Mis contactos</a>
            </li>
        </ul>
    </nav>
</header>