<header>
    <h1>Repostería y supermercado hermanos Cardona</h1>
    <nav>
        <ul>
            <li>
                <a href="#start">Precios</a>
            </li>
            <li>
                <a href="#logros">Información</a>
            </li>
            <li>
                <a href="#formacion">Horarios</a>
            </li>
            <li>
                <a href="#contacto">Contacto</a>
            </li>
        </ul>
    </nav>
</header>